/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'IBM Plex Mono', monospace; */
  font-family: "Inter", sans-serif;
}

/* custom snackbar */
.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: green !important;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
